.footer {
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}